html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 12px;
  background-color: #f0f0f0;
  user-select: none;
  margin: 0 10px;
}
table {}
td {}

h2 {
  font-size: 100%;
}

input {
  outline: none;
}
input[type=number] {
  width: 70px;
}
input[type=number],
input[type=text] {
  text-indent: 5px;
}
label {
  display: inline-flex;
  align-items: center;
}
input[type=button] {
  margin: 0 5px;
  width: 60px;
}

fieldset {
  box-shadow: inset 0px 0px 0 1px #fff;
  border: solid 1px #dbe3e7;
  margin: 5px 0;
}
legend {
  font-weight: bold;
}

.indent {
  padding-left: 10px;
}

[hbox] {
  display: flex;
  flex-direction: row;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[pack=end] {
  justify-content: flex-end;
}
[pack=center] {
  justify-content: center;
}

[flex="1"] {
  flex: 1;
}

#custom-directory {
  width: 50%;
}
