html {
  height: 100%;
}
body {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body>span {
  flex: 1;
}
#body {
  overflow-y: auto;
  padding: 10px;
  background-color: #e7e7e8;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#toolbar {
  display: flex;
  align-items: center;
  border-top: solid 1px d7d8da;
  min-height: 42px;
  padding: 0 10px;
}
#toolbar input {
  margin-right: 3px;
  box-sizing: border-box;
}
#toolbar>span {
  flex: 1;
}
.entry {
  flex: 1 0 152px;
  height: 152px;

  margin: 4px;
  position: relative;
  border: solid 1px #d7d8da;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  background-image: linear-gradient(45deg, #fcfcfc 25%, transparent 25%), linear-gradient(-45deg, #fcfcfc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #fcfcfc 75%), linear-gradient(-45deg, transparent 75%, #fcfcfc 75%);
  background-size: 30px 30px;
  background-position: 0 0, 0 15px, 15px -15px, -15px 0px;
}
.entry input[type=checkbox] {
  position: absolute;
  top: 5px;
  right: 5px;
}
.entry input[type=text] {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  box-sizing: border-box;
  padding: 5px;
  outline: none;
  text-indent: 5px;
}
.entry a {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 80%;
  text-decoration: none;
}
.entry a:empty {
  display: none;
}
.entry img {
  max-height: 80%;
  object-fit: contain;
}

[data-visible=false] {
  display: none;
}

input[type=button] {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 28px;
  min-width: 48px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}
input[type=button]:active {
  background-color: #ccc;
}
input:disabled {
  opacity: 0.3;
}
[data-cmd=download] {
  background: url('download.svg') center center no-repeat;
  background-size: 12px;
}
[data-cmd=select-all] {
  background: url('select-all.svg') center center no-repeat;
  background-size: 14px;
}
[data-cmd=select-none] {
  background: url('select-none.svg') center center no-repeat;
  background-size: 14px;
}
[data-cmd=close] {
  background: url('close.svg') center center no-repeat;
  background-size: 14px;
}
[data-cmd=copy] {
  background: url('copy.svg') center center no-repeat;
  background-size: 16px;
}
[data-cmd=window] {
  background: url('window.svg') center center no-repeat;
  background-size: 16px;
}
body[data-top=true] [data-cmd=window] {
  display: none;
}

::placeholder {
  color: #fff;
  opacity: .7;
}
