html {
  height: 100%;
}
body {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 12px;
  background-color: #f0f0f0;
  user-select: none;
  margin: 10px;
  height: calc(100% - 20px);
}

h2 {
  font-size: 100%;
}
footer {
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: calc(100% - 20px);
  background-color: #f0f0f0;
}

input {
  outline: none;
}
input[type=number] {
  width: 70px;
}
input[type=number],
input[type=text] {
  text-indent: 5px;
}
label {
  display: inline-flex;
  align-items: center;
}
input[type=button] {
  margin: 0 5px;
  width: 80px;
  padding: 0;
  font-size: 11px;
  padding: 4px;
  border: solid 1px #c5c5c5;
  cursor: pointer;
  background-color: #fff;
}
input[type=button]:active {
  opacity: 0.5;
}

fieldset {
  box-shadow: inset 0px 0px 0 1px #fff;
  border: solid 1px #dbe3e7;
  margin: 5px 0;
}
legend {
  font-weight: bold;
}
progress[data-visible=false] {
  display: none;
}

.indent {
  padding-left: 10px;
}
.note {
  color: #7d7d7d;
}
.list {
  position: relative;
}
.list>span {
  margin-left: 5px;
}
.list ul {
  display: none;
  position: absolute;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
.list:hover ul {
  border: solid 1px #dbe3e7;
  display: block;
  right: -15px;
  background-color: #fff;
  top: 0;
  transition: tr;
  transform: translateY(-50%);
}
.list li {
  cursor: pointer;
  padding: 2px 10px;
}
.list li:hover {
  background-color: #ccc;
}

[hbox] {
  display: flex;
  flex-direction: row;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[align=end] {
  align-items: flex-end;
}
[align=center] {
  align-items: center;
}
[pack=end] {
  justify-content: flex-end;
}
[pack=center] {
  justify-content: center;
}

[flex="1"] {
  flex: 1;
}

#custom-directory {
  width: 50%;
}
