html {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  background-color: #eee;
  color: #3e3e3e;
  user-select: none;
  margin: 10px;
  height: calc(100% - 20px);
  /* fix scrolling issue in Windows */
  /* transform: translate3d(0, 0, 0); */
  overscroll-behavior: contain;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
}
@media screen and (max-width: 600px) {
  #body > div[hbox] {
    flex-direction: column;
  }
}

h2 {
  font-size: 100%;
}

footer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-row-gap: 2px;
  grid-column-gap: 2px;
}
footer input {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
footer button[data-cmd="copy"] {
  grid-column-start: 6;
  grid-column-end: 6;
}
@media screen and (max-width: 700px) {
  footer {
    grid-template-columns: repeat(4, 1fr);
  }
  footer button {
    width: 100%;
    margin: 0;
  }
  footer button[data-cmd="copy"] {
    grid-column-start: unset;
    grid-column-end: unset;
  }
}
@media screen and (max-width: 400px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

button,
input {
  outline: none;
}
input[type=number],
input[type=text] {
  padding: 5px;
  border: none;
  background-color: #fff;
}
label {
  display: inline-flex;
  align-items: center;
}
button,
input[type=button] {
  font-size: 11px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #e4e4e4;
}
button:active,
input[type=button]:active {
  opacity: 0.5;
}
button * {
  pointer-events: none;
}

fieldset {
  box-shadow: inset 0 0 0 1px #fff;
  border: solid 1px #dbe3e7;
  margin: 5px 0;
}
legend {
  font-weight: bold;
}
progress[data-visible=false] {
  display: none;
}

.indent {
  padding-left: 10px;
}
.note {
  color: #7d7d7d;
}
.list {
  position: relative;
}
.list > span {
  margin-left: 5px;
}
.list ul {
  display: none;
  position: absolute;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  z-index: 1;
  width: max-content;
}
.list:hover ul {
  border: solid 1px #dbe3e7;
  display: block;
  right: -15px;
  background-color: #fff;
  top: 50%;
  transition: tr;
  transform: translateY(-50%);
}
.list li {
  cursor: pointer;
  padding: 2px 10px;
}
.list li:hover {
  background-color: #eee;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

#body {
  overflow: auto;
}

[hbox] {
  display: flex;
  flex-direction: row;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[align=end] {
  align-items: flex-end;
}
[align=center] {
  align-items: center;
}
[pack=end] {
  justify-content: flex-end;
}
[pack=center] {
  justify-content: center;
}

[flex="1"] {
  flex: 1;
}

#custom-directory {
  width: 50%;
}
