@layer {
  dialog.daimages {
    --width: 750px;
    --height: 650px;

    padding: 0;
    margin: auto;
    border: none;
    background-color: #eee;
    width: min(90vw, var(--width));
    height: min(80vh, var(--height));
    display: flex;
  }
  dialog.daimages::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
  }
  dialog.daimages iframe {
    display: block !important;
    color-scheme: none;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
}


